@charset "UFT-8";

:root{
	--dark-bg-color:rgb(0,50,69);
	--default-bg-color:rgb(229,237,241);
	--ligth-bg-color:rgb(178,253,223);
	--text-primary-color:#f7f8f8;
	--accent-bg-color:#f3f1f1;
	--primary-text-color:#212121;
	--secondary-text-color:#686868;
	--divider-color:#686868;
}
*{
	font-family:Verdana;
}
/*
Selector para la cabecera de la página
*/
header{
	height:fit-content;
	color:var(--dark-bg-color);
	background-color:var(--ligth-bg-color);
	overflow:hidden;
	margin-bottom:10px;
	padding:15px;
}
section{
	width:550px;
	float:left;
	min-height:600px;
	margin-left:15px;
	margin-bottom:15px;
}
aside{
	margin-right:15px;
	margin-left:15px;
	width:450px;
	float:right;
	min-height:600px;
	margin-bottom:15px;
	/*color barra lateral*/
	border-left:thick solid var(--divider-color);
}
form,
ul,
table,
caption,
td{
	border-radius:10px;
	box-shadow:5px 5px 5px grey;
	box-sizing:content-box;
}
ul{
	width:400px;
	color:var(--dark-bg-color);
	background-color:var(--ligth-bg-color);
}
table{
	border-collapse:separate;
	min-width:200px;
	padding:15px;
	color:var(--text-primary-color);
	background-color: var(--dark-bg-color);
}
caption{
	width:fit-content;
	text-align:center;
	color:var(--dark-bg-color);
	background-color:var(--ligth-bg-color);
}
th{
	width:fit-content;
	text-align:center;
	font-size:15px;
}
td{
	width:fit-content;
	text-align:center;
	border-radius:0px;
}
